import SwiftUI

public struct ${PACKAGE}View: View {
    public init() {}
    public var body: some View {
        Text("Hello ${PACKAGE}!")
    }
}

struct ${PACKAGE}View_Previews: PreviewProvider {
    static var previews: some View {
        ${PACKAGE}View()
    }
}
